build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-1c3bb5b407d401896d34.json
build/.cmake/api/v1/reply/cmakeFiles-v1-8186e07bcc037475d040.json
build/.cmake/api/v1/reply/codemodel-v2-80ac7e413fe92f09dd04.json
build/.cmake/api/v1/reply/directory-_deps.json-build-Debug-4a32a0bda2f959cc32d4.json
build/.cmake/api/v1/reply/directory-_deps.sfml-build-Debug-4f918fa9176165f62bca.json
build/.cmake/api/v1/reply/directory-_deps.sfml-build.src.SFML-Debug-7b48f148230a80d8bc59.json
build/.cmake/api/v1/reply/directory-_deps.sfml-build.src.SFML.Audio-Debug-af3f775a09e2bb4bbea1.json
build/.cmake/api/v1/reply/directory-_deps.sfml-build.src.SFML.Graphics-Debug-1c015b91c707c193520a.json
build/.cmake/api/v1/reply/directory-_deps.sfml-build.src.SFML.Network-Debug-c2fbb80b95c4cd24514b.json
build/.cmake/api/v1/reply/directory-_deps.sfml-build.src.SFML.System-Debug-53ed9e07cd242b3ddeee.json
build/.cmake/api/v1/reply/directory-_deps.sfml-build.src.SFML.Window-Debug-1955e5f82db15619de89.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2025-03-20T10-54-16-0143.json
build/.cmake/api/v1/reply/target-MagicMap-Debug-e0ea4e09b66669fe80e9.json
build/.cmake/api/v1/reply/target-sfml-audio-Debug-e85769e645fdde2a6a09.json
build/.cmake/api/v1/reply/target-sfml-graphics-Debug-83d75a7af4f7a426ef4c.json
build/.cmake/api/v1/reply/target-sfml-network-Debug-1ab579e77c85b4568d7d.json
build/.cmake/api/v1/reply/target-sfml-system-Debug-2ee7ce2ed2f55ddc6f1e.json
build/.cmake/api/v1/reply/target-sfml-window-Debug-ec7989b2a89d14516f66.json
build/.cmake/api/v1/reply/toolchains-v1-6dca683991f862cab649.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.28.3/CMakeCCompiler.cmake
build/CMakeFiles/3.28.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.28.3/CMakeSystem.cmake
build/CMakeFiles/3.28.3/CompilerIdC/a.out
build/CMakeFiles/3.28.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.28.3/CompilerIdCXX/a.out
build/CMakeFiles/3.28.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/MagicMap.dir/build.make
build/CMakeFiles/MagicMap.dir/cmake_clean.cmake
build/CMakeFiles/MagicMap.dir/compiler_depend.internal
build/CMakeFiles/MagicMap.dir/compiler_depend.make
build/CMakeFiles/MagicMap.dir/compiler_depend.ts
build/CMakeFiles/MagicMap.dir/depend.make
build/CMakeFiles/MagicMap.dir/DependInfo.cmake
build/CMakeFiles/MagicMap.dir/flags.make
build/CMakeFiles/MagicMap.dir/link.txt
build/CMakeFiles/MagicMap.dir/progress.make
build/CMakeFiles/MagicMap.dir/src/GameWindow.cpp.o
build/CMakeFiles/MagicMap.dir/src/GameWindow.cpp.o.d
build/CMakeFiles/MagicMap.dir/src/main.cpp.o
build/CMakeFiles/MagicMap.dir/src/main.cpp.o.d
build/CMakeFiles/MagicMap.dir/src/Map.cpp.o
build/CMakeFiles/MagicMap.dir/src/Map.cpp.o.d
build/CMakeFiles/MagicMap.dir/src/Player.cpp.o
build/CMakeFiles/MagicMap.dir/src/Player.cpp.o.d
build/_deps/json-build/cmake_install.cmake
build/_deps/json-build/Makefile
build/_deps/json-build/nlohmann_json.pc
build/_deps/json-build/nlohmann_jsonConfig.cmake
build/_deps/json-build/nlohmann_jsonConfigVersion.cmake
build/_deps/json-build/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/json-build/CMakeFiles/progress.marks
build/_deps/json-subbuild/cmake_install.cmake
build/_deps/json-subbuild/CMakeCache.txt
build/_deps/json-subbuild/CMakeLists.txt
build/_deps/json-subbuild/Makefile
build/_deps/json-subbuild/CMakeFiles/cmake.check_cache
build/_deps/json-subbuild/CMakeFiles/CMakeConfigureLog.yaml
build/_deps/json-subbuild/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/json-subbuild/CMakeFiles/CMakeRuleHashes.txt
build/_deps/json-subbuild/CMakeFiles/json-populate-complete
build/_deps/json-subbuild/CMakeFiles/Makefile.cmake
build/_deps/json-subbuild/CMakeFiles/Makefile2
build/_deps/json-subbuild/CMakeFiles/progress.marks
build/_deps/json-subbuild/CMakeFiles/TargetDirectories.txt
build/_deps/json-subbuild/CMakeFiles/3.28.3/CMakeSystem.cmake
build/_deps/json-subbuild/CMakeFiles/json-populate.dir/build.make
build/_deps/json-subbuild/CMakeFiles/json-populate.dir/cmake_clean.cmake
build/_deps/json-subbuild/CMakeFiles/json-populate.dir/compiler_depend.make
build/_deps/json-subbuild/CMakeFiles/json-populate.dir/compiler_depend.ts
build/_deps/json-subbuild/CMakeFiles/json-populate.dir/DependInfo.cmake
build/_deps/json-subbuild/CMakeFiles/json-populate.dir/Labels.json
build/_deps/json-subbuild/CMakeFiles/json-populate.dir/Labels.txt
build/_deps/json-subbuild/CMakeFiles/json-populate.dir/progress.make
build/_deps/json-subbuild/json-populate-prefix/src/json-populate-stamp/json-populate-build
build/_deps/json-subbuild/json-populate-prefix/src/json-populate-stamp/json-populate-configure
build/_deps/json-subbuild/json-populate-prefix/src/json-populate-stamp/json-populate-done
build/_deps/json-subbuild/json-populate-prefix/src/json-populate-stamp/json-populate-download
build/_deps/json-subbuild/json-populate-prefix/src/json-populate-stamp/json-populate-gitclone-lastrun.txt
build/_deps/json-subbuild/json-populate-prefix/src/json-populate-stamp/json-populate-gitinfo.txt
build/_deps/json-subbuild/json-populate-prefix/src/json-populate-stamp/json-populate-install
build/_deps/json-subbuild/json-populate-prefix/src/json-populate-stamp/json-populate-mkdir
build/_deps/json-subbuild/json-populate-prefix/src/json-populate-stamp/json-populate-patch
build/_deps/json-subbuild/json-populate-prefix/src/json-populate-stamp/json-populate-patch-info.txt
build/_deps/json-subbuild/json-populate-prefix/src/json-populate-stamp/json-populate-test
build/_deps/json-subbuild/json-populate-prefix/src/json-populate-stamp/json-populate-update-info.txt
build/_deps/json-subbuild/json-populate-prefix/tmp/json-populate-cfgcmd.txt
build/_deps/json-subbuild/json-populate-prefix/tmp/json-populate-gitclone.cmake
build/_deps/json-subbuild/json-populate-prefix/tmp/json-populate-gitupdate.cmake
build/_deps/json-subbuild/json-populate-prefix/tmp/json-populate-mkdirs.cmake
build/_deps/sfml-build/cmake_install.cmake
build/_deps/sfml-build/Makefile
build/_deps/sfml-build/SFMLConfig.cmake
build/_deps/sfml-build/SFMLConfigVersion.cmake
build/_deps/sfml-build/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/sfml-build/CMakeFiles/progress.marks
build/_deps/sfml-build/CMakeFiles/Export/3937c6824958577f216dad0a66bc6149/SFMLAudioStaticTargets-debug.cmake
build/_deps/sfml-build/CMakeFiles/Export/3937c6824958577f216dad0a66bc6149/SFMLAudioStaticTargets.cmake
build/_deps/sfml-build/CMakeFiles/Export/3937c6824958577f216dad0a66bc6149/SFMLGraphicsStaticTargets-debug.cmake
build/_deps/sfml-build/CMakeFiles/Export/3937c6824958577f216dad0a66bc6149/SFMLGraphicsStaticTargets.cmake
build/_deps/sfml-build/CMakeFiles/Export/3937c6824958577f216dad0a66bc6149/SFMLNetworkStaticTargets-debug.cmake
build/_deps/sfml-build/CMakeFiles/Export/3937c6824958577f216dad0a66bc6149/SFMLNetworkStaticTargets.cmake
build/_deps/sfml-build/CMakeFiles/Export/3937c6824958577f216dad0a66bc6149/SFMLSystemStaticTargets-debug.cmake
build/_deps/sfml-build/CMakeFiles/Export/3937c6824958577f216dad0a66bc6149/SFMLSystemStaticTargets.cmake
build/_deps/sfml-build/CMakeFiles/Export/3937c6824958577f216dad0a66bc6149/SFMLWindowStaticTargets-debug.cmake
build/_deps/sfml-build/CMakeFiles/Export/3937c6824958577f216dad0a66bc6149/SFMLWindowStaticTargets.cmake
build/_deps/sfml-build/lib/libsfml-graphics-s-d.a
build/_deps/sfml-build/lib/libsfml-system-s-d.a
build/_deps/sfml-build/lib/libsfml-window-s-d.a
build/_deps/sfml-build/src/SFML/cmake_install.cmake
build/_deps/sfml-build/src/SFML/Makefile
build/_deps/sfml-build/src/SFML/Audio/cmake_install.cmake
build/_deps/sfml-build/src/SFML/Audio/Makefile
build/_deps/sfml-build/src/SFML/Audio/SFMLAudioDependencies.cmake
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/progress.marks
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/build.make
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/cmake_clean_target.cmake
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/cmake_clean.cmake
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/compiler_depend.make
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/compiler_depend.ts
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/depend.make
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/DependInfo.cmake
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/flags.make
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/link.txt
build/_deps/sfml-build/src/SFML/Audio/CMakeFiles/sfml-audio.dir/progress.make
build/_deps/sfml-build/src/SFML/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/sfml-build/src/SFML/CMakeFiles/progress.marks
build/_deps/sfml-build/src/SFML/Graphics/cmake_install.cmake
build/_deps/sfml-build/src/SFML/Graphics/Makefile
build/_deps/sfml-build/src/SFML/Graphics/SFMLGraphicsDependencies.cmake
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/progress.marks
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/BlendMode.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/BlendMode.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/build.make
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/CircleShape.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/CircleShape.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/cmake_clean_target.cmake
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/cmake_clean.cmake
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/compiler_depend.internal
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/compiler_depend.make
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/compiler_depend.ts
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/ConvexShape.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/ConvexShape.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/depend.make
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/DependInfo.cmake
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/flags.make
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Font.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Font.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/GLCheck.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/GLCheck.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/GLExtensions.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/GLExtensions.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Glsl.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Glsl.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Image.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Image.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/link.txt
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/progress.make
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RectangleShape.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RectangleShape.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderStates.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderStates.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderTarget.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderTarget.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderTexture.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderTexture.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderTextureImplDefault.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderTextureImplDefault.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderTextureImplFBO.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderTextureImplFBO.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderWindow.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/RenderWindow.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Shader.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Shader.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Shape.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Shape.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Sprite.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Sprite.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/StencilMode.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/StencilMode.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Text.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Text.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Texture.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Texture.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/TextureSaver.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/TextureSaver.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Transform.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Transform.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Transformable.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/Transformable.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/VertexArray.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/VertexArray.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/VertexBuffer.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/VertexBuffer.cpp.o.d
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/View.cpp.o
build/_deps/sfml-build/src/SFML/Graphics/CMakeFiles/sfml-graphics.dir/View.cpp.o.d
build/_deps/sfml-build/src/SFML/Network/cmake_install.cmake
build/_deps/sfml-build/src/SFML/Network/Makefile
build/_deps/sfml-build/src/SFML/Network/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/sfml-build/src/SFML/Network/CMakeFiles/progress.marks
build/_deps/sfml-build/src/SFML/Network/CMakeFiles/sfml-network.dir/build.make
build/_deps/sfml-build/src/SFML/Network/CMakeFiles/sfml-network.dir/cmake_clean_target.cmake
build/_deps/sfml-build/src/SFML/Network/CMakeFiles/sfml-network.dir/cmake_clean.cmake
build/_deps/sfml-build/src/SFML/Network/CMakeFiles/sfml-network.dir/compiler_depend.make
build/_deps/sfml-build/src/SFML/Network/CMakeFiles/sfml-network.dir/compiler_depend.ts
build/_deps/sfml-build/src/SFML/Network/CMakeFiles/sfml-network.dir/depend.make
build/_deps/sfml-build/src/SFML/Network/CMakeFiles/sfml-network.dir/DependInfo.cmake
build/_deps/sfml-build/src/SFML/Network/CMakeFiles/sfml-network.dir/flags.make
build/_deps/sfml-build/src/SFML/Network/CMakeFiles/sfml-network.dir/link.txt
build/_deps/sfml-build/src/SFML/Network/CMakeFiles/sfml-network.dir/progress.make
build/_deps/sfml-build/src/SFML/System/cmake_install.cmake
build/_deps/sfml-build/src/SFML/System/Makefile
build/_deps/sfml-build/src/SFML/System/SFMLSystemDependencies.cmake
build/_deps/sfml-build/src/SFML/System/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/sfml-build/src/SFML/System/CMakeFiles/progress.marks
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/build.make
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Clock.cpp.o
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Clock.cpp.o.d
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/cmake_clean_target.cmake
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/cmake_clean.cmake
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/compiler_depend.internal
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/compiler_depend.make
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/compiler_depend.ts
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/depend.make
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/DependInfo.cmake
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Err.cpp.o
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Err.cpp.o.d
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/FileInputStream.cpp.o
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/FileInputStream.cpp.o.d
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/flags.make
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/link.txt
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/MemoryInputStream.cpp.o
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/MemoryInputStream.cpp.o.d
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/progress.make
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Sleep.cpp.o
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Sleep.cpp.o.d
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/String.cpp.o
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/String.cpp.o.d
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Utils.cpp.o
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Utils.cpp.o.d
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Vector2.cpp.o
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Vector2.cpp.o.d
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Vector3.cpp.o
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Vector3.cpp.o.d
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Unix/SleepImpl.cpp.o
build/_deps/sfml-build/src/SFML/System/CMakeFiles/sfml-system.dir/Unix/SleepImpl.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/cmake_install.cmake
build/_deps/sfml-build/src/SFML/Window/Makefile
build/_deps/sfml-build/src/SFML/Window/SFMLWindowDependencies.cmake
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/progress.marks
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/build.make
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Clipboard.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Clipboard.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/cmake_clean_target.cmake
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/cmake_clean.cmake
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/compiler_depend.internal
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/compiler_depend.make
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/compiler_depend.ts
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Context.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Context.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Cursor.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Cursor.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/depend.make
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/DependInfo.cmake
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/flags.make
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/GlContext.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/GlContext.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/GlResource.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/GlResource.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Joystick.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Joystick.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/JoystickManager.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/JoystickManager.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Keyboard.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Keyboard.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/link.txt
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Mouse.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Mouse.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/progress.make
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Sensor.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Sensor.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/SensorManager.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/SensorManager.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Touch.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Touch.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/VideoMode.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/VideoMode.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Vulkan.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Vulkan.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Window.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Window.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/WindowBase.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/WindowBase.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/WindowImpl.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/WindowImpl.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/ClipboardImpl.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/ClipboardImpl.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/CursorImpl.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/CursorImpl.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/Display.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/Display.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/GlxContext.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/GlxContext.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/InputImpl.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/InputImpl.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/JoystickImpl.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/JoystickImpl.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/KeyboardImpl.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/KeyboardImpl.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/KeySymToKeyMapping.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/KeySymToKeyMapping.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/KeySymToUnicodeMapping.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/KeySymToUnicodeMapping.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/SensorImpl.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/SensorImpl.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/VideoModeImpl.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/VideoModeImpl.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/VulkanImplX11.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/VulkanImplX11.cpp.o.d
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/WindowImplX11.cpp.o
build/_deps/sfml-build/src/SFML/Window/CMakeFiles/sfml-window.dir/Unix/WindowImplX11.cpp.o.d
build/_deps/sfml-build/tools/pkg-config/sfml-all.pc
build/_deps/sfml-build/tools/pkg-config/sfml-audio.pc
build/_deps/sfml-build/tools/pkg-config/sfml-graphics.pc
build/_deps/sfml-build/tools/pkg-config/sfml-network.pc
build/_deps/sfml-build/tools/pkg-config/sfml-system.pc
build/_deps/sfml-build/tools/pkg-config/sfml-window.pc
build/_deps/sfml-subbuild/cmake_install.cmake
build/_deps/sfml-subbuild/CMakeCache.txt
build/_deps/sfml-subbuild/CMakeLists.txt
build/_deps/sfml-subbuild/Makefile
build/_deps/sfml-subbuild/CMakeFiles/cmake.check_cache
build/_deps/sfml-subbuild/CMakeFiles/CMakeConfigureLog.yaml
build/_deps/sfml-subbuild/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/sfml-subbuild/CMakeFiles/CMakeRuleHashes.txt
build/_deps/sfml-subbuild/CMakeFiles/Makefile.cmake
build/_deps/sfml-subbuild/CMakeFiles/Makefile2
build/_deps/sfml-subbuild/CMakeFiles/progress.marks
build/_deps/sfml-subbuild/CMakeFiles/sfml-populate-complete
build/_deps/sfml-subbuild/CMakeFiles/TargetDirectories.txt
build/_deps/sfml-subbuild/CMakeFiles/3.28.3/CMakeSystem.cmake
build/_deps/sfml-subbuild/CMakeFiles/sfml-populate.dir/build.make
build/_deps/sfml-subbuild/CMakeFiles/sfml-populate.dir/cmake_clean.cmake
build/_deps/sfml-subbuild/CMakeFiles/sfml-populate.dir/compiler_depend.make
build/_deps/sfml-subbuild/CMakeFiles/sfml-populate.dir/compiler_depend.ts
build/_deps/sfml-subbuild/CMakeFiles/sfml-populate.dir/DependInfo.cmake
build/_deps/sfml-subbuild/CMakeFiles/sfml-populate.dir/Labels.json
build/_deps/sfml-subbuild/CMakeFiles/sfml-populate.dir/Labels.txt
build/_deps/sfml-subbuild/CMakeFiles/sfml-populate.dir/progress.make
build/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-build
build/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-configure
build/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-done
build/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-download
build/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-gitclone-lastrun.txt
build/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-gitinfo.txt
build/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-install
build/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-mkdir
build/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-patch
build/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-patch-info.txt
build/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-test
build/_deps/sfml-subbuild/sfml-populate-prefix/src/sfml-populate-stamp/sfml-populate-update-info.txt
build/_deps/sfml-subbuild/sfml-populate-prefix/tmp/sfml-populate-cfgcmd.txt
build/_deps/sfml-subbuild/sfml-populate-prefix/tmp/sfml-populate-gitclone.cmake
build/_deps/sfml-subbuild/sfml-populate-prefix/tmp/sfml-populate-gitupdate.cmake
build/_deps/sfml-subbuild/sfml-populate-prefix/tmp/sfml-populate-mkdirs.cmake
build/bin/MagicMap
build/bin/resources/maps.json
build/bin/resources/maps.png
build/bin/resources/player.png
.vscode/settings.json
